body {
    margin: 2rem 0 5rem
}

h1,
h2 {
    margin: 0 0 0.5rem -0.1rem
}

.container {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    line-height: 1.6;
    word-wrap: break-word;
    max-width: 50rem;
    padding: 0 1rem;
    margin: 0 auto;
}

.container h1 {
    padding-top: 1em;
    font-size: 2em;
    font-weight: 900;
    text-align: center;
}

.container a:visited.header,
.container a:link.header,
.container a:active.header,
.container a:hover.header {
    outline: 0;
    color: black;
    background-color: transparent;
    text-decoration: none;
}

.container h2 {
    font-size 1em;
    font-weight: 400;
    text-align: center;
    padding-bottom: 3cm;
}

.container p {
    font-size: 16px;
    padding-top: 1em;
}

.container div.article {
    padding-bottom: 1cm;
}

.container div.date {
    color: #aaaaaa;
    text-align: right;
    float: right;
}

.container div.title {
    color: #aaaaaa;
    float: left;
}

.container div.article-head {
    clear: both;
    font-size: 16px;
    padding-bottom: 1em;
}
